<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{#if person}}
        <h1>{{name}}</h1>
    {{else}}
        <h1>Guest</h1>
    {{/if}}
        
    <ul class="people_list">
        {{#each people}}
        <li>{{this}}</li>
        {{else}}
        <li>No list content </li>
        {{/each}}
    </ul>
</body>
</html>